@charset "utf-8";

@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700,700i');

$pink: #ff8080;
$pink-invert: #fff;

$family-sans-serif: "Nunito", sans-serif;

@import "../../node_modules/bulma/bulma";
@import "overrides";
@import "utility";
@import "theme";
