.columns.is-fullheight {
  min-height: calc(100vh - (#{$navbar-height} - .75rem));
  max-height: calc(100vh - (#{$navbar-height} - .75rem));
  height: calc(100vh - (#{$navbar-height} - .75rem));
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  .column {
    overflow-y: auto;
  }
}

.navbar-link::after, .select:not(.is-multiple):not(.is-loading)::after {
  height: .5rem;
  width: .5rem;
  border-color: $periwinkle;
  border-width: 1px;
  border-radius: 0;
}
